<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto fs-4 fw-bold gap-5">

        {% if request.user.is_authenticated %}

            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'dashboard' %}">Dashboard</a>
            </li>



            <li class="nav-item">
                <a class="nav-link" href="{% url 'calorie_list' %}">Calorie List</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'profile_view' %}">Profile</a>
            </li>





            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout_view' %}">Logout</a>
            </li>

        {% else %}

            <li class="nav-item">
                <a class="nav-link" href="{% url 'login_view' %}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register_view' %}">Register</a>
            </li>

        {% endif %}

      </ul>
    </div>
  </div>
</nav>